<robot name="border_upperleft">
  <link name="world">
    <visual>
      <origin xyz="-1.5 0.66 0.05" rpy="0 0 0" />
      <geometry>
        <box size="0.02 0.65 0.1" />
      </geometry>
      <material name="Green">
          <color rgba="0 250 0 0.5"/>
      </material>
    </visual>
  </link>
</robot>
